aws_region = "eu-west-1"
namespace = "ptfe"
aws_instance_ami = "ami-4262d53f"
aws_instance_type = "m5.large"
ssh_key_name = ""
"vpc_id = ""
# Provide at least 2 subnets from your VPC
subnet_ids = ","
database_password = ""
ebs_device_name = ""
security_group_id = ""
